@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        <p>
            <label>Введите формулу химического вещества</label><br />
            @Html.TextBox("Formula")
        </p>
        <p><input type="submit" value="Поиск"/> </p>
     }
</div>